@model IEnumerable<MoreLess.Models.Lot>

@{
    ViewBag.Title = "Moless";
    List<MoreLess.Models.Lot> lots = new List<MoreLess.Models.Lot>(Model);
    int amount = lots.Count;
    List<MoreLess.Models.Category> categories = new List<MoreLess.Models.Category>(ViewBag.categories);
}

<div class="jumbotron">
    <h1>Moless</h1>
    <p class="lead">Moless is free aution where you can make a bid.</p>
    <p><a href="Home/PutUpLot" class="btn btn-primary btn-lg">Put up&raquo;</a></p>
</div>

<div class="container">
    <div id="category">
        <ul class="nav nav-pills nav-stacked">
            <li class="active">@Html.ActionLink("Category", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li class="dropdown-submenu">
                <a tabindex="-1" href="#">More options</a>
                <ul class="nav nav-pills nav-stacked dropdown-menu">
                    <li><a tabindex="-1" href="#">Second level</a></li>
                    <li class="dropdown-submenu">
                        <a href="#">More..</a>
                        <ul class="nav nav-pills nav-stacked dropdown-menu">
                            @foreach (var cat in categories)
                            {
                                foreach (var cat2 in cat.Subcategories)
                                {
                                    <li><a href="#">@cat2.Title</a></li>
                                }
                            }
                        </ul>
                    </li>
                    <li><a href="#">Second level</a></li>
                    <li><a href="#">Second level</a></li>
                </ul>
            </li>
             
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>          
        </ul>

        
    </div>
    <div id="lots">
        @for (int i = 0; i < Math.Ceiling(amount / 4.0); i++)
        {
            <div class="row">
                @for (int j = 0; j < 4; j++)
                {
                    if (i * 4 + j > amount - 1)
                    {
                        break;
                    }
                    var lot = lots[i * 4 + j];
                    <div class="col-md-3" id="lot_item">
                        <a href="@Url.Action("ViewLot", "Home", new { id = lot.Id })">
                            <h2>@lot.Title</h2>
                            <img src="@lot.ImageUrl" id="index_lot_image" style="width: 20vw; height : 20vw; max-height: 100%; max-width: 100%;" />                        
                        </a>
                        <p>@lot.CurrentPrice</p>                   
                        <p>Live Auction: @lot.StartedTime</p>
                    </div>
                }
            </div>
        }
    </div>
</div>


    



@section scripts{
    <script type="text/javascript">
        var image = document.getElementById('index_lot_image');
        image.onerror = function () {
            alert('error loading ' + this.src);
            this.src = 'Content / Images / jumbotron_bg.jpg';
        };

    </script>
}


