@model IEnumerable<MoreLess.Models.Lot>

@{
    ViewBag.Title = "Moless";
}

<div class="jumbotron">
    <h1>Moless</h1>
    <p class="lead">Moless is free aution where you can make a bid.</p>
    <p><a href="Home/PutUpLot" class="btn btn-primary btn-lg">Put up&raquo;</a></p>
</div>


<div class="container">
    <div class="row">
        @foreach (var lot in Model)
        {
            <div class="col-md-3">
                <h2>@lot.Title</h2>
                <img src="http://res.cloudinary.com/dyuwhmiwj/image/upload/v1474217285/wgn3aeyellukku5ge6jl.jpg" style="width:200px; height:200px" />
                <p>@lot.Category</p>
                <p>@lot.CurrentPrice</p>
                <p>@lot.Description</p>
                <p>@lot.StartedTime</p>
            </div>
        }
    </div>
</div>


